[Unit]
Description=Old SoftRoles framework database service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/softroles/old/services/database/index.js

[Install]
WantedBy=multi-user.target
